<form [formGroup]="fg" (ngSubmit)="guardar(fg.controls)">
    <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="nombre">Name</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre por favor..." [formControl]="fg.controls['nombre']">            
            <div *ngIf="fg.controls['nombre'].hasError('required')">Nombre Requerido</div>
            <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">Nombre Invalido</div>
            <div *ngIf="fg.controls['nombre'].hasError('minLongNumber')">Nombre debe tener al menos {{minLongitud}} de largo.</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" id="country" placeholder="Ingresar el país de destino..."  [formControl]="fg.controls['country']">
            <div *ngIf="!fg.controls['country'].valid">Nombre inv&aacute;lido.</div>
            <div *ngIf="fg.controls['country'].hasError('required')">Nombre Requerido</div>
          </div>	             
        </div>      
      <div class="suggestions-list" *ngIf="!fg.controls['nombre'].hasError('minLongNumber') && (searchResults && searchResults.length>0)">
          <small [style.margin-right.px]="5">Sugerencias</small>
          <small class="suggestions" *ngFor="let r of searchResults;" (click)="fg.controls['nombre'].value=r;false">{{r}}</small>
      </div>                   	
      <div class="form-group col-md-12">
          <label for="Url">Imagen Url</label>
          <input type="text" class="form-control" id="url" placeholder="Ingresar url..."  [formControl]="fg.controls['url']">
          <div *ngIf="!fg.controls['url'].valid">Nombre inv&aacute;lido.</div>
      </div>
      <div class="form-group col-md-12">
          <label for="desc">Descripci&oacute;n</label>
          <textarea type="text" class="form-control" id="desc" placeholder="Ingresar descripción..."  [formControl]="fg.controls['desc']"></textarea>
          <div *ngIf="!fg.controls['desc'].valid">Nombre inv&aacute;lido.</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6"></div>
    </div>
    
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar</button>
  </form>
