<div class="container content">
	 <div class="row">
	     <div class="col-md-9 offset-md-2">
	         <span class="anchor" id="formLogin"></span>
	         <!-- form card login with validation feedback -->
	         <div class="card card-outline-secondary">
	             <div class="card-header">
	                 <h3 class="mb-0">Cargar un destino</h3>
	             </div>
	             <div class="card-body">
	                 <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
	             </div>
	         </div>
	     </div>
	 </div>
	 <hr class="mb-5">
	 <h5 *ngIf="all.length > 0">Agregados</h5>	 
	 <div class="row row-flex">
    	<app-destino-viaje 
    		*ngFor="let d of all; let i=index" 
    		[destino]="d"
    		[idx]="i+1"
			(selectItem)="elegido(d)"			
    		(deleteItem)="eliminado(i)"
		>    		
    	</app-destino-viaje>
	 </div>
	 <div *ngIf="updates.length > 0">		 
	 	<hr [style.height.px]="10">
		<h5 >Actividad</h5>
		<ul>
			<li *ngFor="let update of updates;">{{update}}</li>
		</ul>
	 </div>
</div>