<div class="header">
<h1 [style.margin-top.px]="15">Wish List</h1>
</div>
<div class="container content">
  <div class="page-header">
    <div class="container">
      <div class="navLinks">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/destino']">Destino</a>
      </div>
    </div>
  </div>
  <div class="row">
    <h1>
     {{ title }}
    </h1>
  </div>
  <router-outlet></router-outlet>
</div>
<div class="footer">
    Fecha: {{ time | async }}
</div>