/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

/*	card	details	start	 */
@import	 url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');

section{
		padding:	100px	0;
}
.container.content{
	min-height: 100vh;
}
.navLinks{
	margin-top:10px;
	background: #f7f7f7;
	padding:10px 0;
}
.navLinks a{
	margin-left: 15px;
	color:black;
}
.card{
		  margin: 10px 15px;
}
.details-card{
  		background:	#ecf0f1;
}
.card-content{
  		background:	#fff;
  		border:	4px;
		box-shadow:	0	2px	5px	0	rgba(0,0,0,.16),	0	2px	10px	0	rgba(0,0,0,.12);
		min-height: 38rem
}
.card-img{
  		position:	relative;
  		overflow:	hidden;
  		border-radius:	0;
  		z-index:	1;
}
.card-img img{
  		width:	100%;
  		height:	auto;
  		display:	block;
}
.card-img h2 {
	position:	absolute;
	margin: 0.2rem 0 0 0.3rem;
	background:	#1ABC9C;
	padding:	6px;
	color:	#fff;
	border-radius:	4px;
	-webkit-border-radius:	4px;
	-moz-border-radius:	4px;
	-ms-border-radius:	4px;
	-o-border-radius:	4px;
}
.card-img small {
	position:	absolute;
	margin: 3.5rem 0 0 0.3rem;
	background:	#1ABC9C;
	padding:	6px;
	color:	#fff;
	border-radius:	4px;
	-webkit-border-radius:	4px;
	-moz-border-radius:	4px;
	-ms-border-radius:	4px;
	-o-border-radius:	4px;
}
.card-img h5 {
	position: absolute;
    margin: 3px 4px 0 1rem;
    color: white;
    padding: 0px 5px 3px 5px;
    right: 0;
    background: #1ABC9C;
    border-radius: 12px;
	font-size: 15px;
	cursor: pointer;
}
.card-img span {
      position: absolute;
      top:  15%;
      left: 12%;
      background: #1ABC9C;
      padding:  6px;
      color:  #fff;
      font-size:  12px;
      border-radius:  4px;
      -webkit-border-radius:  4px;
      -moz-border-radius: 4px;
      -ms-border-radius:  4px;
      -o-border-radius: 4px;
      transform:  translate(-50%,-50%);
}
.card-img span h4{
		font-size:	12px;
		margin:0;
		padding:10px	5px;
		line-height:	0;
}
.card-desc{
	padding: 1.25rem;
	min-height: 20rem;
}
.card-desc h3{
  		color:	#000000;
  		font-weight:	600;
  		font-size:	1.5em;
  		line-height:	1.3em;
  		margin-top:	0;
  		margin-bottom:	5px;
  		padding:	0;
}
.card-desc p{
  		color:	#747373;
  		font-size:	14px;
  		font-weight:	400;
  		font-size:	1em;
  		line-height:	1.5;
  		margin:	0px;
  		margin-bottom:	20px;
  		padding:	0;
  		font-family:	'Raleway',	sans-serif;
}
.card-desc .favorite {
	text-align: center;
    background: papayawhip;
    padding: 8px;
    margin-bottom: 15px;
    color: darkgoldenrod;
}
.btn-card{
  		background-color:	#1ABC9C;
  		color:	#fff;
  		box-shadow:	0	2px	5px	0	rgba(0,0,0,.16),	0	2px	10px	0	rgba(0,0,0,.12);
  		padding:	.84rem	2.14rem;
  		font-size:	.81rem;
  		-webkit-transition:	color	.15s	ease-in-out,background-color	.15s	ease-in-out,border-color	.15s ease-in-out,-webkit-box-shadow	.15s	ease-in-out;
  		transition:	color	.15s	ease-in-out,background-color	.15s	ease-in-out,border-color	.15s	ease-in-out,-webkit-box-shadow	.15s	ease-in-out;
  		-o-transition:	color	.15s	ease-in-out,background-color	.15s	ease-in-out,border-color	.15s	ease-inout,box-shadow	.15s	ease-in-out;
  		transition:	color	.15s	ease-in-out,background-color	.15s	ease-in-out,border-color	.15s	ease-inout,box-shadow	.15s	ease-in-out;
  		transition:	color	.15s	ease-in-out,background-color	.15s	ease-in-out,border-color	.15s	ease-inout,box-shadow	.15s	ease-in-out,-webkit-box-shadow	.15s	ease-in-out;
  		margin:	0;
  		border:	0;
  		-webkit-border-radius:	.125rem;
  		border-radius:	.125rem;
  		cursor:	pointer;
  		text-transform:	uppercase;
  		white-space:	normal;
  		word-wrap:	break-word;
  		color:	#fff;
}
.btn-card:hover{
  		background:	orange;
}
a.btn-card	{
  		text-decoration: none;
  		color:	#fff;
}
.buttons-bar {
	position: absolute;
    bottom: 15px;
}
.inline-block{
  display: inline-block !important;
}
.suggestions-list{
	font-style: italic;    
	width: 100%;
    background: rgba(0, 0, 0, 0.03);
    margin: 5px 15px 10px 15px;
    padding: 10px 15px;
}
.suggestions{
	cursor:pointer;
	padding: 2px 10px;
	margin: 0 2.5px;
	border: 1px solid black;
	border-radius: 10px;
}
.footer{
	text-align: center;
	background: white;
	padding:10px 0;
	color:black;
}
.header{
	text-align: center;
	background: #ffffff;
	padding:20px 0;
	color:black;
}
.btn-vote{
	background: none;
	border: 1px solid #1ABC9C;	
    vertical-align: top;
    padding-top: 5px;
    color: darkcyan;
    margin-left: 6px;
}
.btn-vote-reset{
	background: none;
	border: 1px solid #1ABC9C;
	border-radius: 15px;
    margin: 5px;
    color: darkcyan;
    font-size: 17px;
    padding: 0 7px 3px 7px;
}
/*	End	card	section	*/